*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
body{
    background-color: pink;
    

}
.material-symbols-outlined a{
  font-size: 40px;
  color: purple;
  text-align: righ;
  text-decoration: none;
}
header{
    border: 1 solid yellow;
    background-color: red;
    height: 70px;
    width: 100%;
    padding: 10px;
    margin: 20px;
}
a{
    text-align: center;
    color: white;
    text-align: center;
    padding:10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}
form.log{
    text-align: center;
}